body{
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
  background-color: #ededed;
}

nav{
  width: 100%;
  height: 150px;
  overflow: auto;
  background: #000000;
}


ul{
  margin-top: 85px;
  margin-left: 350px;
  padding: 0;
  list-style: none;
}

li{
  float: left;
}

li a{
  width: 100px;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
}


/* Change the color of links on hover */
li a:hover {
  color: #cfae70;
  font-weight: 1000;
}

#Publications {
  color: #cfae70;
  font-weight: 1000;
  text-decoration: underline;
}

.logo img{
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  height: 150px;
}

li i {
  color: white;
}



.title{
  font-weight: 1000;
  font-size: 300;
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: 0px;
  font-family: Arial;
}

.VU img{
  position: absolute;
  top: 20px;
  right: 200px;
  height: 130px;
}   


.conference{
  background-color: #cfae7030;
  border: none;
  color: black;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  margin: 0px 2px;
  cursor: pointer;
  position: relative;
  top: -38px;
  left: 320px;
}

.journal{
  background-color: #cfae7070;
  border: none;
  color: black;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  margin: 0px 2px;
  cursor: pointer;
  position: relative;
  top: -38px;
  left: 310px;
}

.year{
  font-weight: 700;
  font-size: 200;
  margin-top: 30px;
  margin-left: 80px;
  margin-bottom: 0px;
  font-family: Arial;
}

hr{
  width: 90%;
}

.confblock{
  background-color: #cfae7030;
  border: none;
  width: 90%;
  height: 80px;
  margin-left: 75px;
  margin-top: 10px;
  position: relative;
}

.jourblock{
  background-color: #cfae7070;
  border: none;
  width: 90%;
  height: 80px;
  margin-left: 75px;
  margin-top: 10px;
  position: relative;
}

.thickconfblock{
  background-color: #cfae7030;
  border: none;
  width: 90%;
  height: 100px;
  margin-left: 75px;
  margin-top: 10px;
  position: relative;
}

.thickjourblock{
  background-color: #cfae7070;
  border: none;
  width: 90%;
  height: 100px;
  margin-left: 75px;
  margin-top: 10px;
  position: relative;
}

.papertitle{
  font-weight: 600;
  font-size: 100;
  position: absolute;
  top: -10px;
  left: 20px;
  font-family: Arial;
}

.author{
  font-weight: 300;
  font-size: 100;
  color: #00000085;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Arial;
}

.thickpapertitle{
  font-weight: 600;
  font-size: 100;
  position: absolute;
  top: -10px;
  left: 20px;
  font-family: Arial;
}

.thickauthor{
  font-weight: 300;
  font-size: 100;
  color: #00000085;
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: Arial;
}

.yes{
  background-color: #50c878;
  border: none;
  width: 0.6%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.no{
  background-color: #00000030;
  border: none;
  width: 0.6%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.paperdir{
  background-color: #83899630;
  border: none;
  width: 6%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.paperdir:hover{
  background-color: #83899670;
  font-weight: 600;
}

.codedir{
  background-color: #83899630;
  border: none;
  width: 6%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 83px;
}

.codedir:hover{
  background-color: #83899670;
  font-weight: 600;
}
